* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body{
    background-color:rgb(247, 231, 243);
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(247, 231, 243); 
}

.logo {
  display: flex;
  align-items: right;
  gap:10px; 
  width:500px;
  margin-left:50px;
  margin-top:10px;
}

.tools{
    display: flex;
    margin-right:50px;
    gap:60px;
    font-size:120%;
    margin-top:15px ;
    color:black; 
}
li a{
  text-decoration:none;
  color:black;
}
li a:hover {
  color: #623df8;
}
.home{
  color:#F83D8E;
}
.home:hover{
  color:#401c7a;
}

button{
  box-shadow: 0 4px 10px#F83D8E;
  margin-right:40px;
}

.container{
  display: flex;
  gap: 8px;
  margin-top: 0%;
   margin-left:0px ;
   position:relative;
  
}

.content{
  margin-left:60px;
  margin-top:250px; 
}

.line {
  width: 60px;
  height: 3px;
  background-color: #401c7a;
  margin-top:20px;
  margin-bottom: 1px;
} 

.welcome{ 
  display:flex;
}

.outer{
  word-spacing:60px;
  justify-content: center;
  align-items: center;
} 


.description{
  letter-spacing:5px;
  font-family:'Lobster', cursive;
  font-size:300%;
  margin-left: 0px;
  font-weight: 100;
  width:100%;
  
}

.banner{
  display:flex;
  width:50%;
  justify-content: center;
  align-items: center;
}


.desc {
  font-size: 20px;
  color: #444;
  font-family: 'Poppins', sans-serif;
  margin-bottom:5px;

}

.btn {
  margin-top:20px;
  background: #8232c7;
  color: white;
  padding: 14px 28px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 5px 15px #8232c7;
}
.btn:hover {
  background: #e70dd1;
}
.circle {
  width: 1500px;      
  height: 700px;     
  background-color: rgb(249, 240, 247);  
  border-radius: 50%; 
  display:flex;
  margin-right:50px; 
  margin-top:40px;
}
.icecream {
  position: absolute;
  height:800px;
  top: 90%;
  transform: translateY(-70%);
  width: 700px;
  z-index: 5; 
  margin-right:1%;
}
.nextpage{
  display:flex;
  background-color:white;
  height:720px;
}


.circle1{
  width: 600px;      
  height: 600px;     
  background-color: #F6F3F9;  
  border-radius: 50%; 
  display:flex;
  margin-left:150px; 
  margin-top:50px;
}
.girl{
  position:absolute;
  display:flex;
  top:130%;
  height:780px;
  width:500;
  z-index:20;
  margin-left:100px;
}
.content1{
  display:flex;
   margin-left:50px;
  margin-top:200px; 
  letter-spacing:5px;
  width:90%;
  font-size:150%;
  font-weight:0%;
  
}
h1{
   font-family:'Lobster','cursive';
}

.para1{
  margin-top: 30px;
  letter-spacing:0px;
  margin-bottom: 30px;
}
.btn1{
  margin-top:20px;
  background: #e4d8e1;
  color: white;
  padding: 14px 28px;
  border-radius: 30px;
  font-size: 90px;
  font-weight: 30px;

}
.favorites{
 position: relative;
  text-align: center;
  background: linear-gradient(to right, #fff7fb, #fff);
   background-image: url("/assets/classic-leftimage.png") , 
                    url("/assets/classic-rightimage.png");
  background-repeat: no-repeat, no-repeat;
  background-position: left 0px, right 100px;
  background-size: 300px auto, 200px auto;
  margin-bottom: 15px;
}
.favorites-head{
  margin-top:150px;
  width:100%;
  text-align: center;
  height:100%;
}
.favorites h2{
  font-size:50px;
  transform:scaleY(5);
  margin-bottom:10px;
}
.favorites p{
  font-size: 20px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  z-index: 2;

}


.card {
  background-color: #FFFFFF;
  width: 240px;
  padding: 20px;
  margin-top:5%;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 100px;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}


.card h3 {
  margin-top: 5px;
  font-size: 20px;
  color: #333;
  margin-bottom: 8px;
  text-align: left;
}

.card p {
  font-size: 15px;
  color: #666;
  margin-bottom: 12px;
   text-align: left;
   width:250px;
}

.price {
  font-size: 18px;
  color: #f83d8e;
  font-weight: 600;
  text-align: left;
}




.explore{
  height:900px;
  background-color:#FFFFFF ;
  text-align: center;
  padding: 30px;
}

.explorecontent h1{
  font-size: 50px;
  letter-spacing: 6px;
  transform: scaleY(2);
  transform: scaleX(1);
  margin-top: 50px;
  padding:30px;
  margin-top: 70px;
}
.explorecontent p{
  font-size: 20px;
}
.items{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 25px;
  align-items: center; 
}

.bar img{
  margin-top: 40px;
  width:350px;
  margin-bottom: 100px;
  
}
.bar:hover {
  transform: translateY(-8px);
  box-shadow: #8232c7;
}


.SpecialOffer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background: linear-gradient(120deg,#683292 50%, #F83D8E 40%);
  color: #fff;
  padding: 100px;
}

.Special {
  width: 50%;
}

.Special h1 {
  font-size: 90px;
  font-weight: 800;
  font-family:'Lobster';
  transform: scaleX(1.2);
  margin-left: 200px;
}

.SpecialP{
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  margin-top:30px;
  margin-left: 100px;
}

.specialbutton{
  margin-top: 60px;
  margin-left: 100px;
}
.button2 {
  margin-top:20px;
  background: #F83D8E;
  color: white;
  padding: 14px 28px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 5px 15px #8232c7;
}
.button2:hover {
  background: #8232c7;
}


.specialofferimage {
  position: relative;
  width: 45%;
  display: flex;
}

.discount-badge {
  position: absolute;
  margin-top: 15%;
  right: 530px;
  background-color: #FDBD56;
  border-color: #8232c7;
  color: #fff;
  font-weight: 800;
  font-size: 30px;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  display: flex;
 justify-content: center;
  align-items: center;
}

.dotted{
  position: absolute;
  margin-right:50px;
  margin-top:2%;
}



.Seller{
  padding: 150px;
  background-color: #FFFFFF;
  text-align: center;
}
.sellerhead h2{
   font-size: 50px;

}
.sellerhead p{
  font-size:20px;
  margin-top: 15px;
}
.sellercards {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 25px;
}

.sellercard {
  background-color: #FDFDFD;
  width: 260px;
  height:460px;
  padding: 20px;
  margin-top:5%;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(225, 12, 12, 0.1);
  margin-bottom: 20px;
}
.sellercard:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}

.sellercard img{
  background-color: #FFEFF0;
  border-radius:10px;
  padding:20px 15px;
}


.sellercard h3 {
  margin-top: 20px;
  font-size: 20px;
  color: #333;
  margin-bottom: 8px;
  text-align: left;
}

.sellercard p {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
  text-align: left;
  width:250px;
}

.Happy-section{
  position:relative;
  padding: 150px;
   background: linear-gradient(to right, #f9e6f0, #fff6f9);
  text-align: center;
  height: 940px;
}

.Happy-title h2{
  font-size:60px;
  font-family:'Lobster';
}

.Happy-title p{
  margin-top:90px;
  text-align: center;
  font-size:24px;
  width: 60%;
   margin-left: 20%;
  justify-content: center;
}

.Happy-author h2{
  color:#F83D8E;
  margin-top: 60px;
  font-family: 'Poppins', sans-serif;
  font-size:20px;
}

.Happy-author p{
  font-size:16px;
  color: #6D6C6C;
  margin-top: 0px;
  
}
.stars{
  margin-top: 15px;
  font-size:13px;
}

.float-img{
   position: absolute;
  width: 100px;
  height: 100px;
}

.img1 { top: 40%; left: 5%; }
.img2 { top: 65%; left: 3%; }
.img3 { top: 55%; left: 15%; }
.img4 { top: 76%; left: 20%; }
.img5 { top: 29%; right: 20%; }
.img6 { top: 45%; right: 5%; }
.img7 { top: 55%; right: 15%;}
.img8 { top: 77%; right: 20%; }

.signup{
  background-color: #FFFFFF;
  padding: 160px;
  text-align: center;
  justify-content: center;
}
.signup-head h2{
  font-size:50px;
  font-family:'Lobster'; 
  letter-spacing:3px;
}

.signup-head p{
  font-size: 20px;
  margin-top:45px;
}

input[type="Subscribe"]
{
    width:470px;
    margin-top:60px;
    padding:20px;
    border-radius:40px;
    background:#FFFFFF;
    border-color: white;
    border:2px solid #eee8ea;
  
}

.button3{
  width:200px;
  margin-top:60px;
    padding:20px;
    border-radius:40px;
    background:#F83D8E;
    color:white;
    border-color:#F83D8E;
}
.checkbox{
  margin-top:30px;
  text-align: center;
  border-radius: 10px;
}
.follow{
  align-items: center;
  padding: 150px 0px;
  background-color: #F7F7FB;
}
.follow-head{
   position:relative;
  height:500px;
}

.follow-head h2{
  text-align: center;
  font-size:40px;
  letter-spacing: 5px;
}

.follow-head p{
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
}
.followcard{
  width: 100%;
  z-index: 4;
}
.followcards{
  position:absolute;
  margin-top: 40px;
  display: flex;
  gap: 30px;
  margin-left: 30px;
}
.followcircle1{
  position: absolute;
  margin-top: 18%;
  right:0px;
  background-color: #8232c7 ;
  border-color: #8232c7;
  border-radius: 50%;
  width: 159px;
  height: 150px;
}

.followcircle2{
  position: absolute;
  margin-top: 0%;
  left:0px;
   background-color:  #F83D8E;
  border-color: #F83D8E;
  border-radius: 50%;
  width: 159px;
  height: 150px;
}


.footer {
    background: #683292;
    padding: 60px 80px 40px;
    position: relative;
    color: #fff;
}

.footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.2fr;
    gap: 40px;
    position: relative;
}


.footer-bg-img {
    width: 200px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    opacity: 0.1;
}

.brand {
    margin-top: 20px;
    margin-left:5px;

}

.nav{
   padding: 30px;
  font-size: 30px;
}
.list{
  margin-left:40px;
  display:flex;
  gap:60px;
}

.footer-address{
  padding: 30px;
}
.address{
  font-size: 30px;
}


.footer-contact {
  padding:30px;
    margin-right: 20px;
}
.footer-contact h3{
  font-size: 25px;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.social-icons i {
    width: 40px;
    height: 40px;
    background: #9b4cc4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    padding-top: 20px;
      border-top: 1px solid #9a6aba;
    font-size: 14px;
}

.scroll-up {
    position: absolute;
    right: 40px;
    bottom: 80px;
    background: #ff3898;
    width: 55px;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 12px;
    cursor: pointer;
    color: white;
    font-size: 20px;
}


.zigzag-divider {
  position: relative;
  width: 100%;
  height: 200px;
  background: white;
  z-index:10;

  mask-image: url("data:image/svg+xml;utf8,\
  <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 10' preserveAspectRatio='none'>\
    <path d='M0 5 Q5.5 2 11 5 T22 5 T33 5 T44 5 T55 5 T66 5 T77 5 T88 5 T100 5 V10 H0 Z' fill=\"white\"/>\
  </svg>");
  mask-size: cover;
  mask-repeat: no-repeat;

  -webkit-mask-image: url("data:image/svg+xml;utf8,\
  <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 10' preserveAspectRatio='none'>\
    <path d='M0 5 Q5.5 2 11 5 T22 5 T33 5 T44 5 T55 5 T66 5 T77 5 T88 5 T100 5 V10 H0 Z' fill=\"white\"/>\
  </svg>");
  -webkit-mask-size: cover;
  -webkit-mask-repeat: no-repeat;
}

.zigzag-divider::before {
  content: "";
  position: absolute;
  top: -150px;
  left: 0;
  width: 100%;
  height: 150px;
  background: transparent;
}





